body {
  background-color: #000e14;
  overflow: hidden;
}

#terminal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #555555;
  color: #ffffff;
  padding: 20px;
  font-family: monospace;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.green {
  color: #00ff00;
}

.red {
  color: #ff0000;
}
