body {
  background-color: #000e14;

  overflow: hidden;
}

#background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.triangle {
  fill: #00ed1c;
  animation: moveTriangle 6s linear infinite;
}

@keyframes moveTriangle {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, -100%);
  }
}

@keyframes fadeTriangle {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
