body {
  background-color: #000e14;

  overflow: hidden;
}

#background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.triangle {
  fill: #00ed1c;
  opacity: 0;
}

