body {
  background-color: #000e14;

  overflow: hidden;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent #000000 transparent transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: moveTriangle 4s linear infinite;
}

@keyframes moveTriangle {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, -100%);
  }
}
